body {
    height: auto;
    margin: 0;
    padding: 0;
    background: url(bakgrundsbild2.jpg) no-repeat;
    background-size: cover;
    display: block;
    

}
/* Jag byggde en box för att göra sidan enkel att justera. */
.box{
    display: grid;
    grid-template-columns: auto;
  width: 450px; 
  background: rgb(0, 0, 0);
  background-size: cover;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 0%;
  color: white;
  font-family: 'centuary gothic', sans-serif;
  
  
  
}
.box-img {
    width: 100%;
    height: auto;
    
}
h1{
    color: white;
}

p{
    color: white;
    background-color: black;
}


#blackbackground a{
    color:white;
    text-decoration: none;
}

.confirmation{
    display: none; /* Göm meddelandet som standard */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
} 

/* Holger du bad om tre olika brytpunkter. Här är Mobilbrytpunkt (max-width: 768px) */
@media screen and (max-width: 768px) {
    .box {
      display: block;
      
    }
  }
  
  /* brytpunkt för Ipad (min-width: 769px) och (max-width: 1024px) */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .box {
    display: block;
      }
  }
  
  /* Brytpunkt för dator (min-width: 1025px) */
  @media screen and (min-width: 1025px) {
    .box {
 display: block;
    
    }
  } 


